@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-heading: #f7f1ff;
  --color-body: #bab6c0;
  --color-primary: #fd9353;
  --color-side-bg: #121212;
  --color-container-bg: #1c1c1c;
  --color-container-border: #363537;
  --color-card-bg: #222222;
  --color-card-border: #363537;
}

@theme inline {
  --font-heading: var(--font-recursive);
  --font-main: var(--font-recursive);
}

@layer base {
  html {
    font-family: var(--font-main);
  }
}

@utility layout-container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 768px;
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
