:root {
	--accent: #a3e635;
	--page-width: 768px;
}

body {
	background: #18181b;
	font-family: var(--font-lexend);
	min-height: 100vh;
}

:focus-visible {
	outline: 2px solid var(--accent);
	outline-offset: 2px;
}

.container {
	max-width: var(--page-width);
	margin: 0 auto;
	padding: 0 16px;
}
