---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="text-body mx-auto my-auto text-center">
    <p>Hey, this page doesn&apos;t exist!</p>
    <a href="/" class="text-primary font-bold underline">
      Go back to the Home Page
    </a>
  </div>
</Layout>
