---
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-side-bg">
    <div
      class="layout-container bg-main-bg md:border-x-container-border flex min-h-screen flex-col border-x pt-4 pb-3"
    >
      <slot />
    </div>
  </body>
</html>
